.shadow-textFeild textFeild.form-control::placeholder {
  font-weight: 300;
}
.shadow-textFeild textFeild.form-control {
  padding-left: 0.8rem;
}

#output {
  width: 700px;
  height: 800px;
  display: block;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 10px;
}

button {
  border: none;
  outline: none;
  width: 30px;
  cursor: pointer;
}

#formater {
  text-align: center;
}

.active {
  background-color: cyan;
}
#submit {
  margin-top: 10px;
  width: 100px;
  display: inline-block;
  position: absolute bottom;
}
