<!DOCTYPE html>
<html>
  <head>
    <title>ChemEX</title>
    <link rel="stylesheet" href="landing.css">
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">ChemEX</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Recent">Recent Tutorials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Available Topics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    

    <div id="quote-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#quote-carousel" data-slide-to="1"></li>
        <li data-target="#quote-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <blockquote class="blockquote">
            <p class="mb-0">
              "The only way to do great work is to love what you do."
            </p>
            <footer class="blockquote-footer">Steve Jobs</footer>
          </blockquote>
        </div>
        <div class="carousel-item">
          <blockquote class="blockquote">
            <p class="mb-0">
              "Success is not the key to happiness. Happiness is the key to
              success."
            </p>
            <footer class="blockquote-footer">Albert Schweitzer</footer>
          </blockquote>
        </div>
        <div class="carousel-item">
          <blockquote class="blockquote">
            <p class="mb-0">
              "Hardships often prepare ordinary people for an extraordinary
              destiny."
            </p>
            <footer class="blockquote-footer">C.S. Lewis</footer>
          </blockquote>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#quote-carousel"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#quote-carousel"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    <div class="container mt-4">
      <h1 class="display-4 text-primary" id="into_title">ChemEX- Chemical Engineering Made Easy</h1>
      <p class="font-weight-light text-secondary">
        Welcome to our community-driven chemical engineering tutorial website!
        Our mission is to provide a platform for users to share their knowledge
        and expertise in the field of chemical engineering. Whether you are a
        student looking to learn new concepts or a professional looking to
        deepen your understanding, you will find a wealth of resources and
        learning opportunities here.
      </p>
      <p class="font-weight-light text-secondary">
        Our website offers a wide range of tutorials, covering everything from
        basic concepts to advanced topics. These tutorials are created by users
        like you, who are passionate about sharing their knowledge and
        experience with others. We believe that this collaborative approach
        results in a unique and valuable learning experience for everyone.
      </p>
      <p class="font-weight-light text-secondary">
        Thank you for choosing our website as your go-to resource for chemical
        engineering tutorials. We hope you find what you're looking for and that
        you'll join us in contributing to the growth of our community. If you
        have any questions or need assistance, don't hesitate to contact us.
      </p>

      <a href="/signup" class="btn btn-lg btn-primary mr-5">Sign Up</a>
      <a href="/signup" class="btn btn-lg btn-primary ml-5">Log In</a>
    </div>

    <div class="container mt-4">
      <h2 id="Recent">Recent Tutorials</h2>



      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              Header
            </div>
            <img src="image1.jpg" alt="image" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">Card description</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <div class="card-footer">
              Footer
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              Header
            </div>
            <img src="image2.jpg" alt="image" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">Card description</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <div class="card-footer">
              Footer
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              Header
            </div>
            <img src="image3.jpg" alt="image" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">Card description</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <div class="card-footer">
              Footer
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              Header
            </div>
            <img src="image4.jpg" alt="image" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">Card description</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <div class="card-footer">
              Footer
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              Header
            </div>
            <img src="image4.jpg" alt="image" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">Card description</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <div class="card-footer">
              Footer
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              Header
            </div>
            <img src="image4.jpg" alt="image" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Card Title</h5>
              <p class="card-text">Card description</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <div class="card-footer">
              Footer
            </div>
          </div>
        </div>



    <div class="container mt-5">
      <h2>Available Topics</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="thermodynamics.jpg" class="card-img-top" alt="Thermodynamics">
            <div class="card-body">
              <h3 class="card-title">Thermodynamics</h3>
              <p class="card-text">Learn about the principles of energy, work, and heat, and how they apply to various systems.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="chemical-reaction-engineering.jpg" class="card-img-top" alt="Chemical Reaction Engineering">
            <div class="card-body">
              <h3 class="card-title">Chemical Reaction Engineering</h3>
              <p class="card-text">Understand the design and optimization of chemical reactions and the operation of chemical reactors.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="material-engineering.jpg" class="card-img-top" alt="Material Engineering">
            <div class="card-body">
              <h3 class="card-title">Material Engineering</h3>
              <p class="card-text">Explore the properties and behavior of materials, including metals, polymers, ceramics, and composites.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="chemistry.jpg" class="card-img-top" alt="Chemistry">
            <div class="card-body">
              <h3 class="card-title">Chemistry</h3>
              <p class="card-text">Discover the fundamental principles of chemistry and how they relate to the world around us.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="fluid-mechanics.jpg" class="card-img-top" alt="Fluid Mechanics">
            <div class="card-body">
              <h3 class="card-title">Fluid Mechanics</h3>
              <p class="card-text">Learn about the behavior of fluids and how they interact with objects, surfaces, and other fluids.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="chemistry.jpg" class="card-img-top" alt="Chemistry">
            <div class="card-body">
              <h3 class="card-title">Biotechnology</h3>
              <p class="card-text">Discover the fundamental principles of chemistry and how they relate to the world around us.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- About Us section -->
<section id="about-us" class="container mt-5">
  <h2 class="text-center mb-5">About Us</h2>
  <div class="row">
    <!-- First Creator -->
    <div class="col-lg-6">
      <div class="media mb-4">
        <img src="/src/static/images/yelem.jpeg" alt="Creator 1" class="mr-3 rounded-circle" width="90">
        <div class="media-body">
          <h5 class="mt-0">Yalem Kelayneh</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at tortor enim. Aliquam erat volutpat. Suspendisse rutrum, ipsum at pretium viverra,
            diam nisi pretium nisi, a suscipit nisl nisl eu tortor. Aenean euismod, quam a malesuada efficitur, lacus orci vulputate diam,
            a ultricies lectus urna ac eros.</p>
        </div>
      </div>
    </div>
    <!-- Second Creator -->
    <div class="col-lg-6">
      <div class="media mb-4">
        <img src="/src/static/images/jamescog.jpeg" alt="Creator 2" class="mr-3 rounded-circle" width="90">
        <div class="media-body">
          <h5 class="mt-0">Yaekob Demisse</h5>
          <p>
            As a backend engineer, I have a strong passion for creating robust and efficient systems.
            I have a strong understanding of software design principles and am skilled in a variety of programming languages.
            In addition to my expertise in backend development,
            I also have moderate front-end skills, which allow me to bring a well-rounded approach to projects.
            <a href="">More here ...</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="bg-light py-5">
  <div class="container">
    <h2 class="text-center mb-5">Contact Us</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title"><i class="fas fa-envelope"></i> Email</h4>
            <p class="card-text">yalemkelayneh@gmail.com</p>
            <p class="card-text">jamescog72@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title"><i class="fas fa-phone"></i> Phone</h4>
            <p class="card-text">(+251) 97664-0278</p>
            <p class="card-text">(123) 456-7890</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title"><i class="fas fa-map-marker-alt"></i> Address</h4>
            <p class="card-text">Yeka, Addis Ababa Ethiopia</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 mb-3">
        <a href="#" class="btn btn-primary btn-block"><i class="fab fa-facebook-f"></i> Like us on Facebook</a>
      </div>
      <div class="col-md-6 mb-3">
        <a href="#" class="btn btn-info btn-block"><i class="fab fa-twitter"></i> Follow us on Twitter</a>
      </div>
      <div class="col-md-6 mb-3">
        <a href="#" class="btn btn-danger btn-block"><i class="fab fa-youtube"></i> Subscribe on YouTube</a>
      </div>
      <div class="col-md-6 mb-3">
        <a href="#" class="btn btn-success btn-block"><i class="fab fa-instagram"></i> Follow us on Instagram</a>
      </div>
    </div>
  </div>
</section>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
