<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <title>Document</title>
    <title>Log in</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="#"></a>
      <img
        src="https://cdn.vectorstock.com/i/preview-1x/60/01/chemical-engineering-logo-vector-18946001.jpg"
        width="100"
        height="80"
        class="img-fluid"
      />
      <button
        class="navbar-toggler navbar-dark"
        type="button"
        data-toggle="collapse"
        data-target="#main-navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="login.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="AboutUs.html">AboutUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ContactUs.html">ContactUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="SignUp.html">SignUp</a>
          </li>
        </ul>
      </div>
    </nav>

    <section>
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 2rem">
              <div class="card-body p-6 text-center">
                <h3 class="mb-5">Log in</h3>

                <div class="form-outline mb-4">
                  <input
                    type="email"
                    id="email"
                    class="form-control form-control-lg"
                    required
                  />
                  <label class="form-label" for="email">Email</label>
                </div>
                <p id="emailcheck" style="color: rgb(240, 28, 28);"></p>

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    id="password"
                    class="form-control form-control-lg"
                    required
                  />
                  <label class="form-label" for="password"
                    >Password</label
                  >
                  <p id="passcheck", style="color: red;"></p>
                  <div>
                    <a id="forgot" href="">Forgot Password</a>
                  </div>
                </div>
                <button
                  id="submit"
                  class="btn btn-primary btn-lg btn-inline"
                  type="submit"
                >
                  Login
                </button>

                <hr class="my-4" />

                <p id="account">You don't have account</p>

                <button
                  class="btn btn-lg btn-inline btn-primary"
                  style="background-color: #dd4b39"
                  type="submit"
                  id="signup"
                >
                  Sign Up
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <p>yeka subcity, 6 kilo, AddisAbaba
                <br/>info@ChemEx.com
                <br/>+ 251 913 05 06 07
                <br/>+ 251 912 09 34 55</p>
            </div>
        </div>
        <div class="footer-copyright text-center">© 2022 Copyright: ChemEx.com</div>
    </footer>

  </body>
  <script src="login.js"></script>
</html>
