<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="editor.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet"
    href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>
    <title>Create Tutorial</title>
  </head>
  <body>
    <div id="container">
      <form>
        <p>Thanks for becoming member of this wonderful community</p>
        <select  id="options" class="form-select" aria-label="Default select example">
          <option selected>Please select the category of the tutorial</option>
          <option value="1">Reaction Engineering</option>
          <option value="2">Thermodynamics</option>
          <option value="3">Fluid Mechanics</option>
          <option value="4">Material Engineering</option>
          <option value="5">Chemistry</option>
          <option value="6">Biotechnology</option>
        </select>
      </form>
      <p>Please enter Your Title here</p>
        <div class="form-outline w-50">
          <textarea class="form-control" id="title" rows="2"></textarea>
          <label class="form-label" for="textAreaExample3"></label>
        <P>Please write short description of the tutorial below</P>
        <div class="form-outline w-50">
          <textarea class="form-control" id="description" rows="2"></textarea>
          <label class="form-label" for="textAreaExample3">Message</label>

      
      <div id="formaters">
        <form>
          <button type="button" data-cmd="justifyLeft">
            <i class="fa fa-align-left" aria-hidden="true"></i>
          </button>
    
          <button type="button" data-cmd="justifyCenter">
            <i class="fa fa-align-center" aria-hidden="true"></i>
          </button>
    
          <button type="button" data-cmd="justifyFull">
            <i class="fa fa-align-justify" aria-hidden="true"></i>
          </button>
    
          <button type="button" data-cmd="justifyRight">
            <i class="fa fa-align-right" aria-hidden="true"></i>
          </button>
    
          <button type="button" data-cmd="bold">
            <i class="fa fa-bold aria-hidden="true"></i>
          </button>
    
          <button type="button" data-cmd="italic">
            <i class="fa fa-italic" aria-hidden="true"></i>
          </button>
    
          <button type="button" data-cmd="underline">
            <i class="fa fa-underline" aria-hidden="true"></i>
          </button>
    
    
          <button type="button" data-cmd="createLink">
            <i class="fa fa-link" aria-hidden="true"></i>
          </button>
    
          <button type="button" data-cmd="showCode" name="active">
            <i class="fa fa-code" aria-hidden="true"></i>
          </button>
    
        </form>
      </div>


      <div id="postContent">
        <iframe class="w-200" name="textFeild" id="output">
        </iframe>
        <button id="submit" class="btn btn-bg btn-primary">Submit</button>
      </div>


    </div>
    <script src="post.js"></script>
  </body>
</html>